<!-- <h1 class="article-title">视频</h1> -->
<link rel="stylesheet" href="./ins.css">
<div class="photos-btn-wrap"> <a class="photos-btn" href="/photos">Photos</a>
    <a class="photos-btn active" href="/photos/videos.html">Videos</a>
</div>
<center>
    <h1>天地破晓，我自招摇</h1>
</center>
<hr/>
<center>
    <div class="video-container">
        <iframe height="80%" width="80%" src="https://player.bilibili.com/player.html?aid=45889521&amp;bvid=BV1Pb411e7AP&amp;cid=80404912&page=1&high_quality=1&danmaku=0" frameborder=0 allowfullscreen></iframe>
    </div>
</center>
<!-- <hr/>
<center>
    <h1>指弹_友谊地久天长</h1>
</center>
<hr/>
<center>
    <div class="video-container ">
        <iframe height="80% " width="80% " src="http://player.youku.com/embed/XMjQ5MDExOTY2MA==" frameborder=0 allowfullscreen></iframe>
    </div>
</center>
<hr/>
<center>
    <h1>指弹_Always with me</h1>
</center>
<hr/>
<center>
    <div class=" video-container ">
        <iframe height="80% " width="80% " src="http://player.youku.com/embed/XMjQ4MDQyNTQ0MA==" frameborder=0 allowfullscreen></iframe>
    </div>
</center> -->